<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">加入组织</h2>
                <hr class="primary">
                <p>岂曰无衣，与子同袍，欢迎加入我们</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
				
            <a href="https://qm.qq.com/cgi-bin/qm/qr?k=aPeoXNGOwq0_AuBvpDlnvElmApQ1NmU_&jump_from=webapi&authKey=W43c5yu88n6kd0dwFzCWtzouGd5DxyPyZoekuji2Dye45jOIR4DfDrvf2NUgahvR">
                <i class="fa fa-qq fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://space.bilibili.com/13979976">
            <i class="fa fa-video-camera fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/yanhuacuo/98wubi-tables">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
